@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>

    @Html.Section("head")

    <!--Google fonts or font awesome styles  -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/STracker/assets/dist/css/main.min.css"), "head", true)

    @* Registering customm css created for the package *@
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/STracker/assets/dist/css/custom.css"), "head")
    @Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/STracker/assets/dist/css/all.min.css"), "head")
</head>

<body>
    @Html.Section("top")

    <!-- Header Section  -->
    <div class="stracker-header-area container-fluid">
        <div class="row">
            <!-- Main Logo/Contact -->
            <div class="col-sm-3 stracker-main-logo">
                @Html.SfPlaceHolder("ContactUs")
            </div>

            <!-- ExternalLinks -->
            <div class="col-sm-9 stracker-main-header">
                @Html.SfPlaceHolder("ExternalLinks")
            </div>
        </div>

        <div class="row">
            <!-- Site Navigation -->
            <div class="col-sm-12 stracker-main-logo">
                @Html.SfPlaceHolder("SiteNavigation")
            </div>
        </div>
    </div>

    <!-- Body Section -->
    <div class="stracker-main-body container-fluid">

        <!-- Placeholder for image or slider -->
        <div class="stracker-main-body-header">
            @Html.SfPlaceHolder("MainBodyHeader")
        </div>

        <!-- Page Body -->
        <div class="stracker-main-body-content">
            @Html.SfPlaceHolder("MainBody")
        </div>
    </div>

    <!-- Footer  -->
    <div class="container-fluid stracker-footer">
        @Html.SfPlaceHolder("Footer")
    </div>




    @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
    @Html.Section("inline-editing")
    @if (Html.ShouldRenderInlineEditing())
    {
        @Html.Script(ScriptRef.MicrosoftAjax, "inline-editing", true)
        @Html.Script(ScriptRef.MicrosoftAjaxCore, "inline-editing", true)
        @Html.Script(ScriptRef.JQuery, "inline-editing", true)

        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "inline-editing", true)
        @Html.Script(ScriptRef.KendoAll, "inline-editing", true)
        @Html.Script(ScriptRef.KendoTimezones, "inline-editing", true)
        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "inline-editing", true)
        @Html.InlineEditingManager(false)
    }
    @Html.Section("bottom")

    @*  Registering custom js created for the package *@
    @Html.Script(Url.Content("~/ResourcePackages/STracker/assets/dist/js/custom.js"), "top")
    @Html.Script(Url.Content("~/ResourcePackages/STracker/assets/dist/js/all.min.js"), "top")
</body>
</html>
